.btn{
    font-size: var(--secondary-size);
    line-height: 0.78;
    color: var(--second-main-color);

    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 30px;
    padding-right: 30px;

    background-color: var(--light-blue-bg);
    border: none;
    border-radius: 50px;
}