.container{
    max-width: 1440px;
    margin: 0 auto;
    &--standart{
        padding-right: 40px;
        padding-left: 40px;
        @media screen and (min-width: 1440px) {
            padding-left: 179px;
            padding-right: 131px;
        }
    }
    &--about{
        padding-left: 106px;
    }
    &--blog{
        padding-right: 75px;
        padding-left: 75px;
    }
    &--contact{
        padding-left: 180px;
        padding-right: 180px;
    }
    &--footer{
        padding-left: 40px;
        padding-right: 40px;
    }
}