.blog{
    padding-top: 143px;
    padding-bottom: 42px;

    background-repeat: no-repeat;
    background-size: contain;
    background-position: left;
    background-image: url(../images/blog-bg-1x.jpg);
    
    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
        background-image: url(../images/blog-bg-2x.jpg);
      }

    &__text{
        margin-bottom: 152px;
        font-weight: bold;
        letter-spacing: -0.01em;
        &--link{
            color: var(--accent-color);
        }
    }
    &__link{
        color: var(--rare-color);
        font-weight: 900;
    }
}
.blog--wrapper{
    max-width: 676px;
    margin-left: auto;
}