.header{
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding-bottom: 164px;
}
.nav{
    &__list{
        display: flex;

        font-size: var(--secondary-size);
        line-height: 16px;
    }
    &__item{
        position: relative;
        padding-top: 14px;
        padding-bottom: 14px;
    }
    &__item::after{
        bottom: 0px;
        content: '';
        position: absolute;
        height: 2px;
        left: 0;
        width: 100%;
        background-color: var(--blue-bg);
        transform: scale(0);
        transition: transform 500ms;
    }
    &__item:hover::after{
        transform: scale(1);
    }
    &__link{
        padding-top: 100%;
        padding-bottom: 100%;
        padding-left: calc(27px /2);
        padding-right: calc(27px /2);
    }
}