.introductory{
    padding-top: 151px;
    padding-bottom: 92px;

    background-color: var(--light-blue-bg);

    color: var(--second-main-color);
    &__title{

        margin-bottom: 75px;
        font-size: var(--accent-text-size);
        line-height: 0.75;
        letter-spacing: -0.006em;
    }
    &__text{
        margin-bottom: 0;
        max-width: 553px;
        line-height: 35px;
        font-size: 20px;
        &--weight{
            font-weight: 900;
            font-size: var(--common-text-size);
        }
    }
}